# Composer downloads
vendor/
composer.lock

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS X
**/.DS_Store
# PHP-CS-Fixer
.php_cs.cache
# ignore IDE/hidden/OS cache files
.*
*~
# keep some hiddens
!/.gitignore